.device__rating__star {
  font-size: 70px;
  cursor: pointer;
}

.device__rating__star::after:hover {
  content: '★';
  position: absolute;
  top: 0;
  left: 0;
}

@media (max-width: 768px) {
  .device__rating__star {
    font-size: 55px;
  }
}

@media (max-width: 425px) {
  .device__rating__star {
    font-size: 40px;
  }
}