:root {
  --background-color: #E5E5E5;
}

html {
  margin: 0 auto;
}

body {
  background-color: var(--background-color);
}

h1, h2, h3, p {
  margin: 0;
}

@import url(./blocks/header/header.css);
@import url(./blocks/header/__title/header__title.css);
@import url(./blocks/header/__menu/header__menu.css);
@import url(./blocks/header/__menu/header__menu-item.css);
@import url(./blocks/header/__menu/_active/header__menu-item_active.css);
@import url(./blocks/header/__basket/header__basket-menu.css);
@import url(./blocks/header/__login/header__login.css);
@import url(./blocks/header/__greeting/header__greeting.css);
@import url(./blocks/header/__basket/header__basket.css);
@import url(./blocks/header/__basket/__container/header__basket__container.css);
@import url(./blocks/header/__basket/__count/header__basket__count.css);

@import url(./blocks/carousel/carousel.css);
@import url(./blocks/carousel/__window/carousel__window.css);
@import url(./blocks/carousel/__all-paiges/carousel__all-paiges.css);
@import url(./blocks/carousel/__image/carousel__image.css);
@import url(./blocks/carousel/__arrow/carousel__arrow.css);


@import url(./blocks/authPopup/authPopup.css);
@import url(./blocks/authPopup/_opened/authPopup_opened.css);
@import url(./blocks/authPopup/__container/authPopup__container.css);
@import url(./blocks/authPopup/_close/authPopup_close.css);
@import url(./blocks/authPopup/__bar/auth__bar.css);
@import url(./blocks/authPopup/__bar/__button/auth__bar__button.css);
@import url(./blocks/authPopup/__form/authPopup__form.css);
@import url(./blocks/authPopup/__input/authPopup__input.css);
@import url(./blocks/authPopup/__submit/authPopup__submit.css);

@import url(./blocks/shop/__panel/shop__panel.css);
@import url(./blocks/shop/__panel/__element/shop__panel__element.css);
@import url(./blocks/shop/__panel/__list/shop__panel__list.css);
@import url(./blocks/shop/__cards/shop__cards.css);

@import url(./blocks/brand-bar/brand-bar.css);
@import url(./blocks/brand-bar/__element/brand-bar__element.css);
@import url(./blocks/brand-bar/__element/_active/brand-bar__element_active.css);

@import url(./blocks/shop/__card/shop__card.css);
@import url(./blocks/shop/__card/__image/shop__card__image.css);
@import url(./blocks/shop/__card/__description/shop__description.css);
@import url(./blocks/shop/__card/__price/shop__card__price.css);
@import url(./blocks/shop/__card/__rating/shop__card__rating__container.css);
@import url(./blocks/shop/__card/__rating/shop__card__rating__image.css);
@import url(./blocks/shop/__card/__rating/shop__card__rating.css);
@import url(./blocks/shop/__card/__title/shop__card__title.css);

@import url(./blocks/cards/card/card.css);
@import url(./blocks/cards/cards.css);
@import url(./blocks/cards/card/__caption/card.caption.css);
@import url(./blocks/cards/card/__description/card__description.css);
@import url(./blocks/cards/card/__image/card__image.css);
@import url(./blocks/cards/card/__rating/card__rating.css);
@import url(./blocks/cards/card/__rating/__image/card__rating__image.css);
@import url(./blocks/cards/card/__title/card__title.css);
@import url(./blocks/cards/card/__price/card__price.css);
@import url(./blocks/cards/card/__rating/__container/card__rating__container.css);

@import url(./blocks/device/device.css);
@import url(./blocks/device/__image/device__image.css);
@import url(./blocks/device/__description/device__description.css);
@import url(./blocks/device/__title/device__title.css);
@import url(./blocks/device/__rating/device__rating.css);
@import url(./blocks/device/__rating/__star/device__rating__star.css);
@import url(./blocks/device/__rating/__value/device__rating__value.css);
@import url(./blocks/device/__caption/device__caption.css);
@import url(./blocks/device/__price/device__price.css);
@import url(./blocks/device/__basket/device__basket.css);
@import url(./blocks/device/__info/device__info.css);
@import url(./blocks/device/__info/__heading/device__info__heading.css);
@import url(./blocks/device/__info/__element/device__info__element.css);
@import url(./blocks/device/__info/__title/device__info__title.css);
@import url(./blocks/device/__info/__description/device__info__description.css);

@import url(./blocks/pagination/pagination.css);
@import url(./blocks/pagination/__page/pagination__page.css);
@import url(./blocks/pagination/__page/_active/pagination__page_active.css);

@import url(./blocks/basket/_empty/basket_empty.css);
@import url(./blocks/basket/_empty/__title/basket_empty__title.css);
@import url(./blocks/basket/_empty/__description/basket_empty__description.css);
@import url(./blocks/basket/_empty/__refs/basket_empty__refs.css);
@import url(./blocks/basket/_empty/__ref/basket_empty__ref.css);
@import url(./blocks/basket/basket.css);
@import url(./blocks/basket/__device/basket__device.css);
@import url(./blocks/basket/__device/__image/basket__device__image.css);
@import url(./blocks/basket/__device/__title/basket__device__title.css);
@import url(./blocks/basket/__device/__price/basket__device__price.css);
@import url(./blocks/basket/__panel/basket__panel.css);
@import url(./blocks/basket/__panel/__title/basket__panel__title.css);
@import url(./blocks/basket/__panel/__info/basket__panel__info.css);
@import url(./blocks/basket/__panel/__number/basket__panel__number.css);
@import url(./blocks/basket/__panel/__price/basket__panel__price.css);
@import url(./blocks/basket/__panel/__button/basket__panel__button.css);

@import url(./blocks/footer/footer.css);
@import url(./blocks/footer/__container/footer__container.css);
@import url(./blocks/footer/__title/footer__title.css);
@import url(./blocks/footer/__copyright/footer__copyright.css);
@import url(./blocks/footer/__links/footer__links.css);
@import url(./blocks/footer/__link/footer__link.css);
@import url(./blocks/footer/__link/footer__link-git.css);
@import url(./blocks/footer/__link/footer__link-tg.css);
@import url(./blocks/footer/__link/footer__link-vk.css);