:root {
  --background-color: #E5E5E5;
}

html {
  margin: 0 auto;
}

body {
  background-color: var(--background-color);
}

h1, h2, h3, p {
  margin: 0;
}

@import url(./blocks/header/header.css);
@import url(./blocks/header/__title/header__title.css);
@import url(./blocks/header/__menu/header__menu.css);
@import url(./blocks/header/__menu/header__menu-item.css);
@import url(./blocks/header/__menu/_active/header__menu-item_active.css);
@import url(./blocks/header/__basket/header__basket-menu.css);
@import url(./blocks/header/__login/header__login.css);
@import url(./blocks/header/__basket/header__basket.css);
@import url(./blocks/header/__image/header__image.css);

@import url(./blocks/authPopup/authPopup.css);
@import url(./blocks/authPopup/_opened/authPopup_opened.css);
@import url(./blocks/authPopup/__container/authPopup__container.css);
@import url(./blocks/authPopup/_close/authPopup_close.css);
@import url(./blocks/authPopup/__bar/auth__bar.css);
@import url(./blocks/authPopup/__bar/__button/auth__bar__button.css);
@import url(./blocks/authPopup/__form/authPopup__form.css);
@import url(./blocks/authPopup/__input/authPopup__input.css);
@import url(./blocks/authPopup/__submit/authPopup__submit.css);

@import url(./blocks/shop/__panel/shop__panel.css);
@import url(./blocks/shop/__panel/__element/shop__panel__element.css);

@import url(./blocks/brand-bar/brand-bar.css);
@import url(./blocks/brand-bar/__element/brand-bar__element.css);
@import url(./blocks/brand-bar/__element/_active/brand-bar__element_active.css);

@import url(./blocks/cards/card/card.css);
@import url(./blocks/cards/cards.css);
@import url(./blocks/cards/card/__caption/card.caption.css);
@import url(./blocks/cards/card/__description/card__description.css);
@import url(./blocks/cards/card/__image/card__image.css);
@import url(./blocks/cards/card/__rating/card__rating.css);
@import url(./blocks/cards/card/__rating/__image/card__rating__image.css);
@import url(./blocks/cards/card/__title/card__title.css);
@import url(./blocks/cards/card/__price/card__price.css);
@import url(./blocks/cards/card/__rating/__container/card__rating__container.css);

@import url(./blocks/device/device.css);
@import url(./blocks/device/__image/device__image.css);
@import url(./blocks/device/__description/device__description.css);
@import url(./blocks/device/__title/device__title.css);
@import url(./blocks/device/__rating/device__rating.css);
@import url(./blocks/device/__caption/device__caption.css);
@import url(./blocks/device/__price/device__price.css);
@import url(./blocks/device/__basket/device__basket.css);
@import url(./blocks/device/__info/device__info.css);

@import url(./blocks/footer/footer.css);
@import url(./blocks/footer/__container/footer__container.css);
@import url(./blocks/footer/__title/footer__title.css);
@import url(./blocks/footer/__copyright/footer__copyright.css);
@import url(./blocks/footer/__links/footer__links.css);
@import url(./blocks/footer/__link/footer__link.css);
@import url(./blocks/footer/__link/footer__link-git.css);
@import url(./blocks/footer/__link/footer__link-tg.css);
@import url(./blocks/footer/__link/footer__link-vk.css);