.card {
  display: grid;
  justify-items: center;
  border-radius: 10px;
  grid-template-rows: 500px 70px 50px;
  grid-template-columns: repeat(1fr);
  padding: 10px;
  grid-template-areas: 
  "image image image"
  "description description description"
  "price price price"
  ;
}

@media (max-width: 768px) {
  .card {
    grid-template-rows: 280px 60px 40px;
    padding: 5px;
  }
}

@media (max-width: 375px) {
  .card {
    grid-template-rows: 300px 50px 30px;
    padding: 5px;
  }
}