.header {
  max-width: 1100px;
  margin: 0 auto;
  padding-top: 44px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: 1024px) {
  .header {
    max-width: 900px;
  }
}

@media (max-width: 768px) {
  .header {
    max-width: 700px;
  }
}

@media (max-width: 425px) {
  .header {
    max-width: 400px;
  }
}

@media (max-width: 390px) {
  .header {
    max-width: 375px;
    padding-top: 14px;
  }
}