.authPopup__submit {
  border: none;
  width: 380px;
  height: 50px;
  border-radius: 10px;
  background-color: #985ACE;
  color: #F8F1FF;
  font-family: 'RobotoCondensed';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 12px;
  margin-left: 10px;
  margin: 40px auto 40px;
}