.shop__card {
    display: grid;
    justify-items: center;
    border-radius: 10px;
    gap: 20px;
    padding: 10px;
    grid-template-areas: 
    "image"
    "description"
    ;
}

@media (max-width: 390px) {
    .shop__card {
        gap: 10px;
        padding: 5px;
      }
  }