.brand-bar {
  max-width: 1100px;
  margin: 0 auto;
  padding-top: 44px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: 1024px) {
  .brand-bar {
    max-width: 900px;
  }
}

@media (max-width: 768px) {
  .brand-bar {
    max-width: 720px;
  }
}

@media (max-width: 425px) {
  .brand-bar {
    padding: 20px 0;
    max-width: 400px;
  }
}