.shop__card__rating__image {
    width: 25px;
    height: 25px;
    float: right;
}

@media (max-width: 390px) {
    .shop__card__rating__image {
        width: 15px;
        height: 15px;
      }
  }