.device__price {
  font-family: 'RobotoCondensed';
  font-style: normal;
  font-weight: 700;
  font-size: 35px;
  text-align: center;
}

@media (max-width: 768px) {
  .device__price {
    font-size: 30px;
  }
}

@media (max-width: 425px) {
  .device__price {
    font-size: 28px;
  }
}