.basket__panel {
  width: 450px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: fixed;
  padding: 40px;
  top: 15%;
  right: 10%;
  border-radius: 10px;
  background-color: #FFFFFF;
}

@media (max-width: 1600px) {
  .basket__panel {
    position: relative;
    width: 800px;
    margin: 0 auto;
  }
}

@media (max-width: 768px) {
  .basket__panel {
    position: relative;
    width: 600px;
    margin: 0 auto;
  }
}

@media (max-width: 500px) {
  .basket__panel {
    position: relative;
    width: 375px;
    margin: 0 auto;
  }
}