.basket_empty__description {
  font-family: 'RobotoCondensed';
  font-style: normal;
  font-weight: 300;
  font-size: 25px;
  text-align: center; 
}

@media (max-width: 425px) {
  .basket_empty__description {
    font-size: 20px; 
  }
}