.header__login {
  text-decoration: none;
  border: none;
  font-family: 'RobotoCondensed';
  font-style: normal;
  font-weight: 300;
  font-size: 25px;
  line-height: 15px;
  color: #2A2A2A;
  background-color: inherit;
}

.header__login:hover {
  color: blue;
  transition: color .6s ease;
  cursor: pointer;
}

@media (max-width: 768px) {
  .header__login {
    font-size: 22px;
  }
}

@media (max-width: 425px) {
  .header__login {
    font-size: 16px;
    padding: 0;
  }
}

@media (max-width: 390px) {
  .header__login {
    font-size: 14px;
  }
}