.header__title {
  font-family: 'RobotoCondensed';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 21px;
}

.header__title:hover {
  cursor: pointer;
}

@media (max-width: 768px) {
  .header__title {
    font-size: 35px;
    line-height: 30px;
  }
}

@media (max-width: 425px) {
  .header__title {
    font-size: 20px;
    line-height: 20px;
  }
}

@media (max-width: 390px) {
  .header__title {
    font-size: 10px;
    line-height: 10px;
  }
}